/* CSS Reset */
* {
    padding: 0;
    margin: 0;
}

/* Setting Height to Full Viewport */
html,
body {
    height: 100%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-color: #E0E8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background-color: white;
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-top-section {
    text-align: center;
    height: fit-content;
}

.img-top-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.mid-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 0px 0px 4px 0px;
    box-sizing: border-box;
    margin-top: 0px;
}

.mid-section h2 {
    color: hsl(223, 47%, 23%);
    letter-spacing: 0px;
    font-weight: 900;
    margin-top: 20px;
}

.mid-section p {
    width: 90%;
    padding: 0px;
    line-height: 23px;
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 3px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.bottom-section>p {
    color: hsl(224, 23%, 55%);
    font-size: 17px;
    font-weight: 900;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;

}

.bottom-section__payment {
    width: 90%;
    text-align: center;
    margin-top: 2px;
}

.bottom-section__payment button {
    width: 90%;
    border: none;
    outline: none;
    color: hsl(225, 100%, 98%);
    padding: 15px 0px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0px;
    text-shadow: 0px 0px 1px hsl(225, 100%, 98%);
    transition: 1s;
}

.bottom-section__annual {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    width: 78%;
}

.annual__left {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.bottom-section__annual a {
    color: hsl(245, 75%, 52%);
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 10px;
    transition: 1s;
}

.annual__left div {
    line-height: 25px;
}

.annual__left div>p {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0px;
}

.annual__left div>h4 {
    color: hsl(223, 47%, 23%);
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0px;
}

/* Active Sections */
.bottom-section__payment button:hover {
    background-color: hsl(245, 75%, 52%, 0.8);
    color: hsl(225, 100%, 98%);
    transition: 1s;
}

.bottom-section__annual a:hover {
    color: hsl(245, 75%, 52%, 0.7);
    transition: 1s;
}

/* Media Queries */
@media screen and (max-width:850px) {
    .main-container {
        width: 45%;
    }
}

